.top-footer {
    background-image: url("/img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
}
  
.bot-footer {
    background-color: rgb(51, 51, 51);
    padding: $padding-containers-y $padding-containers-x;
  
    .sign-up {
      border: 4px solid $color-dc-blue;
      padding: 20px;
  
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
      }
    }
  
    h2 {
      color: $color-dc-blue;
      margin-right: 20px;
      
    }
}
  
  .follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    .img-footer {
      width: 50px;
      height: 50px;
      margin: 0 20px;
    }
}
  
.container-footer {
    margin: 0 auto;
    width: $w-75;
    display: flex;
    justify-content: space-between;
}
  
.list-container {
    width: $w-40;
}
  
.list-footer {
    display: flex;
    padding: $padding-containers-y $padding-containers-x;
}
  
.col-list {
    width: calc(100% / 3);
  
    h2{
      margin-top:20px;
      margin-bottom: 10px;
      color: white;
    }
}
.jumbo-logo-footer {
    width: $w-40;
    background-image: url("/img/dc-logo-bg.png");
    background-size: cover;
    background-position: center;
}
  

  
.ul-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  
    li {
      margin: 4px 0;
  
      a {
        color: $text-footer;
        text-decoration: none;
      }
    }
}