.shell-nav-products{
    background-color: $background-nav-products;


    .nav-products{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $width-comic-info;
        margin: 0 auto;
        gap: 10px;
        border-right: 1px $color-border-nav-products solid;

        .container{
            display: flex;
            justify-content: space-between;
            width: calc(100% / 4);
            border-left: 1px $color-border-nav-products solid;
            font-size: 0.6rem;
            padding: 10px;
            
        }
    }
}