.container-details-product{ 
    background-color: $background-nav-products;
    padding-bottom: 120px;
    border-bottom: 1px $color-border-nav-products solid;

    .info-details{
        display: flex;
        justify-content: space-between;
        width: $width-comic-info;
        margin: 0 auto;

        .container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px $color-border-nav-products solid;
            padding: 20px 0;

            .artists, .writers {
                width: 75%;
                color: $color-dc-blue;
            }

            .comma{
                color:black
            }

            h4{
                flex-shrink: 0;
            }
        }

        h2{
            padding: 30px 0;
            border-bottom: 1px $color-border-nav-products solid;
            color: $color-detail-products-title;
        }

        .talent-info, .specs-info{
            width: 50%;

            .series{
                color: $color-dc-blue;
                font-weight: bold;
            }

            .series, .price, .sale-date{
                width: 60%;
            }
        }
        .talent-info{
            margin-right: 30px;   
        }
    }
}