$padding-containers-y: 30px;
$padding-containers-x: 15px;
$w-75: 75%;
$w-40: 40%;
$w-60: 60%;
$bg-dark: black;
$text-footer: grey;
$color-dc-blue:#0282f9;
$gap-comics: 20px;
$background-nav-products: #f6f6f6;
$color-border-nav-products: #c1c2c1;
$color-detail-products-title: #003f5e;